In [1]:
# printing

x='hello world'
print(x)

hello world

In [2]:
"hello bava"
print("hello bava")

hello bava

In [3]:
'hai this is arya'

'hai this is arya'

In [4]:
"hai i am raghav"

'hai i am raghav'

In [5]:
X= "this is day2 assignment"
print(X)

this is day2 assignment

# Dot format method

In [6]:
num = 7
name = 'arya'
print('my number is :{one}, my name is :{two}' .format (one=num,two=name))

my number is :7, my name is :arya

Trying different methods

In [7]:
num = 77
name = 'agent007'
print('my number is :{}, my name is :{}' .format(num,name))

my number is :77, my name is :agent007

In [8]:
num = 36
name = 'agent036'
print('my batch number is :{}, my name is :{}' .format(36,agent036))

NameError: name 'agent036' is not defined

In [9]:
num = 36
name = 'agent036'
print('my batch number is :{}, my name is :{}' .format('36,agent036'))

IndexError: Replacement index 1 out of range for positional args tuple

In [10]:
num = 36
name = 'agent036'
print('my batch number is :{}, my name is :{}' .format(num,name))

my batch number is :36, my name is :agent036

In [11]:
print('my name is {}' .format('agent036'))

my name is agent036

observe i didnt use any double quotations

# Total keywords

In [25]:
import keyword
print(keyword.kwlist)
print("\n total number of keyword :",len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 total number of keyword : 36

# Printing the lists with Indexing

In [35]:
my_list= [1,2,3,4,5]
my_list[1]

2

In [37]:
my_list[4]

5

In [38]:
[1,4,6,8,9]

[1, 4, 6, 8, 9]

In [39]:
[1,4,7,'agent']

[1, 4, 7, 'agent']

In [41]:
['agentarya', 1,2,3,[6,7,8]]

['agentarya', 1, 2, 3, [6, 7, 8]]

error observed if i didnt give "," between 3 and 6

# List operations

In [42]:
my_list=['sekhar','agent', 'srinivas', 'satya']
my_list.append('srisatya')

In [43]:
my_list

['sekhar', 'agent', 'srinivas', 'satya', 'srisatya']

In [44]:
my_list[4]

'srisatya'

# Eliminating in the list

In [45]:
#eliminate first one
my_list[1:]

['agent', 'srinivas', 'satya', 'srisatya']

In [47]:
# to show the eliminated content
my_list[:1]

['sekhar']

In [48]:
my_list

['sekhar', 'agent', 'srinivas', 'satya', 'srisatya']

In [50]:
my_list

['sekhar', 'agent', 'srinivas', 'satya', 'srisatya']

# Boolean operations

In [51]:
4>2

True

In [52]:
3>=3

True

In [53]:
6<1

False

In [54]:
'hai'=='hello'

False

# Set and list of operations

In [56]:
{1,1,2,3,3,3,4,5,6,6,7,8,9,9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
[1,1,2,2,3,3,4,4,5,5]

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

# Intendation operation

In [60]:
#first lets see how we shouldnt write

if 5>2:
print('five is grater than two')

IndentationError: expected an indented block (2893082284.py, line 4)

In [61]:
#now we see the intendation format

if 5<6:
    print("five is less than six")

five is less than six

In [62]:
#checking with one space insted of industry standards 4-spaces

if 5<6:
 print("five is less than six")

five is less than six

In [63]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14