In [1]:
"hello world"

'hello world'

In [2]:
print "hai"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hai")? (4282445505.py, line 1)

In [3]:
print ("hello world")

hello world

In [4]:
print ("Hai i am Raghavendra from Vizag, learning Python")

Hai i am Raghavendra from Vizag, learning Python

In [5]:
# addition
5+3

8

In [6]:
89+11

100

In [7]:
# multiplication
7*7

49

In [8]:
67*10

670

In [9]:
# subtraction
46-72

-26

# Hai now lets see the int,float

In [16]:
x=5
print(type(x))

<class 'int'>

In [17]:
6.5
type(6.5)

float

# hello
type(hello)

In [19]:
x="hello"
print(type(x))

<class 'str'>

In [20]:
56j
type(56j)

complex

In [21]:
"hello Robert Jr."
type(hello Robert Jr.)

SyntaxError: invalid syntax (551358532.py, line 2)

# Now lets go for some math operations

In [22]:
# division
6/2

3.0

In [23]:
# divide
6%2

0

In [24]:
6%5

1

In [25]:
# division
49/7

7.0

In [28]:
# exponentation
3**

SyntaxError: invalid syntax (212889644.py, line 2)

In [29]:
**3

SyntaxError: invalid syntax (317235276.py, line 1)

In [30]:
3**2

9

In [31]:
2**4

16

In [32]:
# floor division
48//4

12

In [33]:
48/4

12.0

In [34]:
48//2

24

In [35]:
45//2

22

In [36]:
45/2

22.5

Now we use all Math operations..Lets see

In [37]:
40+60-20/2*5**2//2**3

69.0

In [38]:
40+60-20/2*5**2//2**3%3

99.0